<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="shuvalov.nikita.digifidgispinner">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/spinner"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spinner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FidgetActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".helicopter_game.HelicopterActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".runner_game.RunnerActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".start_screen.MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>